# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Build
.kotlin/
/ios/
/android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment & Secrets
.env
.env.*
*.env
*.pem

# Metro & Debug logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo

